<div class="register-container">
    <div class="register-form">
      <h1>Registro</h1>
      <p>Ingresa tu correo para crearte una cuenta</p>
      <form [formGroup]="registerForm">
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Correo electrónico">
            <mat-error *ngIf="emailFormControl.hasError('email') && emailFormControl.touched">
              Por favor, introduce una dirección de correo válida.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required') && emailFormControl.touched">
              Este campo es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Contraseña">
            <mat-error *ngIf="passwordFormControl.hasError('required') && passwordFormControl.touched">
              Este campo es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirma tu contraseña</mat-label>
            <input type="password" matInput formControlName="passwordConfirm" placeholder="Confirma tu contraseña">
            <mat-error *ngIf="passwordConfirmFormControl.hasError('required') && passwordConfirmFormControl.touched">
              Este campo es obligatorio.
            </mat-error>
            <mat-error *ngIf="registerForm.hasError('passwordMismatch') && passwordConfirmFormControl.dirty && passwordConfirmFormControl.touched">
              Las contraseñas no coinciden.
            </mat-error>
          </mat-form-field>
        </div>
  
        <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Aceptar</button>
        <p>¿Ya tienes una cuenta? <a [routerLink]="['/gestion-cuenta/login']">Inicia sesión</a></p>
      </form>
    </div>
    <div class="register-image">
      <img src="assets/images/register-image.jpg" alt="Register Image">
    </div>
  </div>
  