<div class="login-container">
    <div class="login-form">
        <h1>Inicia Sesión</h1>
        <p>Por favor ingresa tus datos</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Correo electrónico</mat-label>
                    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Correo electrónico">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Por favor, introduce una dirección de correo válida.
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Este campo es obligatorio.
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" placeholder="Contraseña">
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Este campo es obligatorio.
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="options">
                <a [routerLink]="['/gestion-cuenta/forgot-password']">Olvidaste tu contraseña</a>
            </div>
            
            <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Aceptar</button>
            
            <p>¿No tienes una cuenta? <a [routerLink]="['/gestion-cuenta/register']">Registrate</a></p>
        </form>
    </div>
    <div class="login-image">
        <img src="assets/images/login-image.jpg" alt="Login Image">
    </div>
</div>
