<mat-card class="example-card" appearance="outlined">

  <img mat-card-image class="card-imgs" src="{{articulo.mainImg}}" alt="Article image">
  <mat-card-header>
    <mat-card-title>{{articulo.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{articulo.description}}
    </p>
    <div class="footer">
      <div class="d-flex justify-content-between w-100">
        <div class="chip">
          <p>{{format(articulo.publicationDate)}}</p>
        </div>
        <div class="chip blue">
          <mat-card-subtitle>{{articulo.type}}</mat-card-subtitle>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
