<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="forget-password.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <span class="close-button">X</span>

        <div *ngIf="mostrarcontenido1">
            <app-home></app-home>
            <button type="submit" (click)="continuar()">Continuar</button>
        </div>

        <div *ngIf="mostrarcontenido2">
            <app-insert-code></app-insert-code>
            <button type="submit" (click)="continuar()">Continuar</button>
        </div>
        
    </div>

    <script src="registro.js"></script>
</body>
</html>
