<div class="blue banner">Explora</div>

<div class="d-flex justify-content-between">
  <app-search-chip  *ngIf="allTypes.length > 0" (fruitsChange)="handleChange($event)" [allFruits]="allTypes"></app-search-chip>
  <div class="d-flex justify-content-between align-content-center card-width">
    <button class="cat-button" (click) = "changeOrder('recent')">Recent</button>
    <button class="cat-button" (click) = "changeOrder('likes')">Likes</button>
    <button class="cat-button" (click) = "changeOrder('comments')">Comments</button>
</div>
</div>
<div class="card-container">
  <app-tarjeta-articulo class="article-card" *ngFor="let articulo of articulos$ | async" [articulo]="articulo" (click)="navigate(articulo)"></app-tarjeta-articulo>
</div>
<div class="d-flex justify-content-center w-100">
  <div class="d-flex justify-content-between card-width">
    <button (click)="changePage(-1)">Prev</button>
    <div class="p-1">
      {{pageNum+1}}/{{maxPages}}
    </div>
    <button (click)="changePage(1)" >Next</button>
  </div>
</div>
