<div class="forgot-password-container">
  <div class="forgot-password-form">
    <h1>Recuperar Contraseña</h1>
    <p>Ingresa tu correo para enviarte el código de recuperación de contraseña</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Tu correo</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Correo electrónico">
          <mat-error *ngIf="email?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
          <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
            Por favor, introduce una dirección de correo válida.
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid">Continuar</button>
    </form>
  </div>
  <div class="forgot-password-image">
    <img src="assets/images/forgot-password-image.jpg" alt="Forgot Password Image">
  </div>
</div>
