.reset-password-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.example-full-width {
  width: 300px;
  margin-bottom: 10px;
}

.reset-password-form {
  font-family: 'Poppins', sans-serif;
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrar el contenido */
}

.reset-password-form h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.reset-password-form p {
  margin-bottom: 20px;
  color: #777;
}

.reset-password-form .mat-form-field {
  width: 300px; /* Ajustar el ancho máximo de los campos de entrada */
  margin-bottom: 20px;
}

.reset-password-form .mat-form-field-wrapper {
  width: 100%;
}

.reset-password-form .mat-mdc-form-field-flex {
  width: 100%;
}

.reset-password-form .mat-input-element {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #E9E6E6;
  width: 100%; /* Asegurarse de que el input ocupe todo el ancho del mat-form-field */
}

.reset-password-form .mat-hint, .reset-password-form .mat-error {
  font-family: 'Poppins', sans-serif;
}

.reset-password-form button, .reset-password-form .mat-raised-button {
  font-family: 'Poppins', sans-serif;
  width: 300px; /* Ancho del botón */
  height: 54px; /* Altura del botón */
  padding: 0 30px; /* Ajustar el padding */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #80FBFF;
  color: black; /* Color de la letra cuando el botón está activo */
  cursor: pointer;
  margin-bottom: 10px;
}

.reset-password-form button:disabled, .reset-password-form .mat-raised-button:disabled {
  color: grey; /* Color de la letra cuando el botón está deshabilitado */
}

.reset-password-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-image img {
  width: 300px;
  height: auto;
}

/* Estilos adicionales para Angular Material */
.mat-form-field {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.mat-form-field div,
.mat-form-field-wrapper,
.mat-mdc-form-field-flex,
.mat-mdc-text-field-wrapper,
.mat-input-element {
  width: 300px !important;
}

/* Estilos para mensajes de error */
.mat-error {
  font-family: 'Poppins', sans-serif;
  color: red;
}
