<div class="reset-password-container">
  <div class="reset-password-form">
    <h1>Restablecer Contraseña</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Nueva Contraseña</mat-label>
          <input type="password" matInput formControlName="newPassword" placeholder="Nueva Contraseña">
          <mat-error *ngIf="newPassword?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Confirmar Nueva Contraseña</mat-label>
          <input type="password" matInput formControlName="confirmPassword" placeholder="Confirmar Nueva Contraseña">
          <mat-error *ngIf="confirmPassword?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.errors?.['passwordMismatch']">
            Las contraseñas no coinciden.
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">Restablecer</button>
    </form>
    <p *ngIf="passwordResetSuccess">¡Contraseña recuperada con éxito!</p>
  </div>
  <div class="reset-password-image">
    <img src="assets/images/reset-password-image.jpg" alt="Reset Password Image">
  </div>
</div>
