<div *ngIf="articulo$ | async as articulo">
  <div class="head">
    <h1 class="text-center">
      {{articulo.title}}
    </h1>
    <div class="d-flex flex-wrap justify-content-between">
      <div>
        {{articulo.description}}
      </div>
      <div *ngIf="loaded">
        <button [ngClass]="{'liked' : isLiked}" class="button button-like" (click)="like()">
          <i class="fa fa-heart"></i>
          <span> {{likes}}</span>
        </button>
      </div>
      <div>
        {{articulo.publicationDate}}
        <span class="blue chip m-1">
          {{articulo.type}}
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <img src="{{articulo.mainImg}}" alt="Article image" id="myImage">
    <p class="body" [innerHTML]="articulo.content">
    {{articulo.content}}
    </p>
  </div>
  <div *ngIf="resumen.length == 0" class="d-flex justify-content-center">
    <button (click)="askGPT(articulo.content)" >{{message}}</button>
  </div>
  <div *ngIf="resumen.length != 0">
    <hr>
    <h2>Resumen via ChatGPT</h2>
    <p class="body">
      {{resumen}}
    </p>
  </div>
  <hr>
  <div>
    <h2>Escritores</h2>
    <div *ngFor="let wrt of writers$ | async">
      <app-writer-card [writer]="wrt"></app-writer-card>
    </div>
  </div>
</div>
